@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=BBH+Hegarty&family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body{
    margin: 0;
    padding: 0;
}

.nav-bar-wrapper{
   width: 100%;
   height: 80px;
   background-color: black;
   color: aliceblue;
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
    align-items: center;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;

   padding: 0 30px;
  
   
   
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 70px;
    
}

.logo img{
        object-fit: cover;
        width: 80px;
        height: 80px;
        border-radius: 70px;
    }

.menu{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}



/* layer เบลอ */
.content-wrapper::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./img/computer-bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(1.5px);
    transform: scale(1.1); /* กันขอบเบลอ */
    z-index: 1;
}


.content-wrapper{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 3px 3px 4px black;
}



.content-wrapper .content{
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    padding-top: 200px;
    padding-left: 50px;
    text-align: center;
    font-size: larger;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}


.content-side{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}

.conten-1{
    
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    padding-left: 70px;
    text-align: center;
    margin-left: 200px;
}

.conten-2{
    
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    padding-left: 70px;
    text-align: center;
}


.conten-3{
    
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    padding-left: 70px;
    text-align: center;
    margin-left: 200px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.conten-4{
    
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    padding-left: 70px;
    text-align: center;
     margin-top: 60px;
     margin-bottom: 50px;
}




.photo-1{
    width: 200px;
    height: 200px;
    border-radius: 60px;
    margin-left: 60px;
   
}
.photo-1 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;
    background-position: center;
    text-align: center;
}






.cotent-item-wrapper{
    margin-top: 200px;
    background-color: black;
    width: 60%;
    padding-left: 30px;
    height: auto;
    margin-left: 300px;
    border-radius: 60px;
    display: grid;
    color: aliceblue;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 100px;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 100px;
}

.Item-1{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
    
   

}


.Item-1 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}

.Item-2{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-2 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}


.Item-3{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-3 img{
    object-fit: contain;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}


.Item-4{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-4 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}


.Item-5{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-5 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}


.Item-6{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-6 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}
.Item-7{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-7 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}


.Item-8{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-8 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}
.Item-9{
       
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50px;
   

}


.Item-9 img{
    object-fit: cover;
    background-position: center;
     width: 100%;
        height: 100%;
        border-radius: 50px;
}


a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.photo-1 :hover{
    transform: scale(1.6);
    transition: 3s;
}


.Detail-content{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
}



.img-product{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 60px;
}

.img-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
}

.about-product{
    text-align: center;
    padding-top: 200px;
}

.Item-1 :hover , 
.Item-2 :hover ,
.Item-3 :hover ,
.Item-4 :hover , 
.Item-5 :hover ,
.Item-6 :hover ,
.Item-7 :hover ,
.Item-8 :hover , 
.Item-9 :hover 
{
    transform: scale(1.2);
    transition: 3s;
}

.content-wrapper-about::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(https://www.wgu.edu/blog/2023/07/what-information-technology/_jcr_content/root/container/imageandtext.coreimg.85.800.jpeg/1701987570527/what-is-it.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(1.5px);
    transform: scale(1.1); /* กันขอบเบลอ */
    z-index: 1;
}


.content-wrapper-about{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 3px 3px 4px black;
}



.content-wrapper-about .content2{
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    padding-top: 200px;
    padding-left: 50px;
    text-align: center;
    font-size: larger;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}





.content-wrapper-contract::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(https://img.freepik.com/free-photo/people-working-call-center_23-2149288184.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-position: center;
    filter: blur(1.5px);
    transform: scale(1.1); /* กันขอบเบลอ */
    z-index: 1;
}


.content-wrapper-contract{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 3px 3px 4px black;
}



.content-wrapper-contract .content3{
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    padding-top: 200px;
    padding-left: 50px;
    text-align: center;
    font-size: larger;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}


.about-box-2{
    background-color: rgb(255, 255, 255);
    color: var(--black);
    border-radius: 50px;
    padding: 50px;
    display: flex;
    padding-left: 100px;
    
}

.img-box-about-2{
    
    margin-top: 30px;
    left: 160px;
    width: 300px;
    height: 200px;
    background-color: #333333;
    border-radius: 30px;
   
}
.img-box-about-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;  
    
    z-index: 2;
    
}
.contacted{
    display: flex;
    column-gap: 50px;
    justify-content: space-around;
    a{
        color: #333333;
        text-decoration: none;
    }
    a:hover{
        color: red;
    }
    li{
        list-style: none;
    }
    
}


.about-bg{
    padding-top: 100px;
    padding-left: 50px;
    background-color: black;
    column-gap: 60px;
    height: 200px;
    color: aliceblue;
    display: flex;
}

/* animation */

.content-side{
    animation: scrolling linear;
    animation-timeline:view() ;
}

@keyframes  scrolling{
    from{
        opacity: 1;
        scale: 0.5;
        

    }to{
        opacity: 1;
        scale: 1;
        
    }
}
.cotent-item-wrapper{
    animation: fade;
    animation-duration: 3s;
}
.content-wrapper-about{
     animation: fade;
    animation-duration: 3s;
}
.content-wrapper{
     animation: fade;
    animation-duration: 3s;
}
.content-wrapper-contract{
       animation: fade;
    animation-duration: 3s;
}
.img-box-about-2{
     animation: fade;
    animation-duration: 3s;
}
@keyframes  fade{
    from{
       opacity: 0;
        

    }to{
        opacity: 1;
        
    }
}
.logo:hover{
    transition: 3s;
    transform: rotateY(360deg);
}
