@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=BBH+Hegarty&family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body{
    margin: 0;
    padding: 0;
}

.nav-bar-wrapper{
   width: 100%;
   height: 80px;
   background-color: black;
   color: aliceblue;
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 70px;
    
}

.logo img{
        object-fit: cover;
        width: 80px;
        height: 80px;
        border-radius: 70px;
    }

.menu{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}



/* layer เบลอ */
.content-wrapper::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./img/computer-bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(1.5px);
    transform: scale(1.1); /* กันขอบเบลอ */
    z-index: 1;
}


.content-wrapper{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 3px 3px 4px black;
}



.content-wrapper .content{
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    padding-top: 200px;
    padding-left: 50px;
    text-align: center;
    font-size: larger;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}